<<<<<<< HEAD
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}
.nav-links li a {
  color: rgb(228, 37, 37);
  text-decoration: none;
  font-weight: bold;
}
.nav-links li a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 200px 0 140px 0;
}
.header-img img {
  height: 40px;
  width: auto;
  margin-left: 50px;
}

.header-text {
  text-align: center;
}

.header {
  background-image: url("./bg2.png");
  background-size: cover;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.container-content {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px 20px 80px 40px;
  position: absolute;
  top: 250px;
  right: 0;
  left: 0;
  height: 400px;
}

.logo img {
  height: 50px;
=======
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: antiquewhite;
  border: #e3dabc 2px solid;
}
.caixa1 {
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caixa2 {
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caixa3 {
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caixa4 {
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
>>>>>>> bf20bef (update images)
}
